---
services:
  wiremock:
    build:
      context: .
      dockerfile: wiremock.Dockerfile
    command:
      - "--verbose"
      - "--local-response-templating"
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./wiremock:/home/wiremock
