---
name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
    branches:
      - master

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  determine_build:
    name: Determine follow up builds
    runs-on: ubuntu-latest
    outputs:
      docker: ${{ steps.result.outputs.docker }}
      maven: ${{ steps.result.outputs.maven }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@v47
        with:
          separator: ","

      - name: Output result
        id: result
        run: |
          CHANGES=${{ steps.changed.outputs.all_changed_files }}

          DOCKER="0"
          if [[ $CHANGES =~ ^.*(docker-compose\.yaml|wiremock\.Dockerfile).*$ ]]; then
            echo "Dockerfile has been changed"
            DOCKER="1"
          fi

          MAVEN="0"
          if [[ $CHANGES =~ ^.*(pom|mock-api\/.*).*$ ]]; then
            echo "parent pom or mock-api has been changed"
            MAVEN="1"
          fi

          echo -e " docker = $DOCKER \n build_maven = $MAVEN"

          {
            echo "docker=$DOCKER"
            echo "maven=$MAVEN"
          } >> "$GITHUB_OUTPUT"

  docker:
    name: Build docker
    runs-on: ubuntu-latest
    needs: determine_build
    if: ${{ needs.determine_build.outputs.docker == '1' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Start stack
        run: docker compose up -d

      - name: Wait for wiremock to be ready
        run: sleep 10

      - name: Test endpoint
        run: |
          RESPONSE=$(curl -s --retry 10 --retry-connrefused "http://localhost:8080/v1/hello")
          echo -e "Got response from mock:\n$RESPONSE"

          if [[ $(echo "$RESPONSE" | jq -r '.id') != "001" ]]; then
            echo "Expect id in the response json to be '001'"
            exit 1
          fi

          if [[ $(echo " $RESPONSE" | jq -r '.value') != "There" ]]; then
            echo "Expect value in the response json to be 'There'"
            exit 1
          fi

      - name: Clean up
        if: ${{ always() }}
        run: docker compose down

  skip_docker:
    name: Build docker
    runs-on: ubuntu-latest
    needs: determine_build
    if: ${{ needs.determine_build.outputs.docker == '0' }}
    steps:
      - run: echo 'Skip docker check as non of the docker files have not been changed'

  build:
    name: Build maven
    runs-on: ubuntu-latest
    needs: determine_build
    if: ${{ needs.determine_build.outputs.maven == '1' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build and test
        run: mvn clean verify -B -ntp

  skip_build:
    name: Build maven
    runs-on: ubuntu-latest
    needs: determine_build
    if: ${{ needs.determine_build.outputs.maven == '0' }}
    steps:
      - run: echo 'Skip maven check as the maven module has not been changed'
